<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    
        <h2>LOGIN KHUSUS ADMIN</h2>
        <form method ="post">
        <input type ="text" name ="username" id="username", placeholder="masukkan username"><p>
        <input type ="text" name ="password" id="password", placeholder="masukkan password"><p>
        <button type="Submit">Masuk </button><p>
        <a href="#">Daftar</a> | <a href="#">Lupa Password</a>
    </form>
  

</body>
</html>
